@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@300&display=swap');

body{
  font-family: 'Lato', sans-serif;
}

.filter-dropdown{
  width: 15rem;
}

.no-border{
  border: none;
  outline: none;
}

.card-hover-shadow:hover{
  cursor:default;
  box-shadow: 0 0 8px rgba(0,0,0,0.5);
  transition: 0.3s ease-in-out;
}

.hover-light:hover{
  background-color: #e9ecef;
}

.max-width-80{
  max-width: 80%;
}

.message-area{
  max-height: 65vh;
  overflow-y: auto;
}